.cascading-right {
  margin-right: -50px;
}
.border{
  border: 10px solid black;
}
@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}

.height
{
 height: 100vh;
 box-sizing: border-box;
 padding: 3%;
}

