<app-user-sidebar></app-user-sidebar>

<hr>
<hr>
<hr>
<div class="container mt-4">
  <table class="table table-bordered table-hover mt-5 ">
    <thead class="thead-light">
      <tr>
        <th class="text-center p-2">User ID</th>
        <th class="text-center p-2">User Name</th>
        <th class="text-center p-2">Full Name</th>
        <th class="text-center p-2">Email</th>
        <th class="text-center p-2">UserType</th>
        <th>edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of userDetail">
        <td class="text-center p-2">{{ item.id }}</td>
        <td class="text-center p-2">{{ item.userName }}</td>
        <td class="text-center p-2">{{ item.fullName }}</td>
        <td class="text-center p-2">{{ item.email }}</td>
        <td class="text-center p-2">{{ item.userType }}</td>
      </tr>
    </tbody>
  </table>
  <div style="margin-left: 30%;">
    kullanıcı bilgilerim console da görünüyor
  </div>

</div>
